.container {
    max-width: 2200px;
    height: 1200px;
    position: absolute;
    text-align: center;
    filter: grayscale(15%);
    /* z-index: 10; */
}

.navbar{
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;

}
.page-header{
    color:whitesmoke;
    /* background-color:papayawhip; */
}


.col{
    border-radius: 10px;
    margin: 10px;
    background-color:aliceblue;
    border:lightgray solid 5px;
}

.role{
    text-transform: capitalize;
}

.cover{
    margin-top: 25px;
    margin-bottom: 15px;
}

